.sidedesign{
    background-color: aqua;
    position:fixed;
    padding:30px;
    height:100%;
    margin-left: 0;
}


ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

.img1design{
    height:500px;
    
}
.img2design{
    height:500px;
    width:670px;
}

.bodydesign{
    padding:30px;
    height: 600px;
}
